<!DOCTYPE html>
{% extends "sagecut/base.html" %}
{% block body_block %}
{% load static %}
<div class="landingpage" style="">


<div class=" landright">
  <div class="centeredr">
    <h2 class="headh2">Redefining your
  barbershop
  experience</h2>
  <div class="" style="height:30px;"></div>
  <h4 class="headh4">We are The barbers you love. Gorgeous
hair for you, fulfilled dreams for us.</h4>
    <div class="" style="height:30px;"></div>
    <a class="bookingbtn" href="{% url 'sagecut:book' %}">Book Appointment</a>
  </div>
</div>
<div class=" landleft">
  <div class="">
     <img class="centered" src="{% static "images/heroimg.jpg" %}" alt="something" width="450">
  </div>

</div>
</div>

<div class="second">
  <div class="sec">
    <h2>Cherish Your time with us</h2>
    <h6>We’ve been providing the traditional barbershop experience by ­setting a venue where dudes can relax, and get groomed. Our approach is offering simple and straightforward services that are delivered well, and a vibe that is curated for the discerning man.</h6>
  </div>

</div>


{% endblock %}
