
  .landingpage{ height: 44rem;
    display: flex;
  flex-direction: row;
    }
  .landright{flex: 60%;}
  .landleft{flex: 40%;
    }
  .droppage{background: linear-gradient(to right, #9A9E92 80%, white 20%);}
  .headh2{font-size:clamp(18px, 8vw, 85px); font-weight: bolder;color:white;}
  .headh4{color:white; font-size: 24px}
  .bookingbtn{padding:2% 5%;background: #363B3F;color:white;text-decoration:none;}
  .bookingbtn:hover{color: white;border-bottom:0px solid;text-decoration: none;background: #2B2D2E}

  a:visited {
    color:white;
  }

.centeredr{padding: 3% 10%;}

    /* section 2 */
  .second{height: 550px; position: relative;color: white;background: #594F37;
     text-align: center;position: absolute; margin: 0;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  }
/* products */
.product{ height: 30rem;
  display: flex;
flex-direction: row;
  background-color: #27211C;}
.productright{flex:50%;text-align: center;padding-top: 5rem}
.productright img{ width: 40%;height: auto;
  }
.productleft{flex:50%;color:white;padding: 4rem 8rem;}
.productleft h2{font-size:clamp(28px, 8vw, 60px);font-weight: bolder;}
.productleft h4{font-size:clamp(16px, 8vw, 28px);}
.product h6{font-size: 28px;}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 85px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 10px;

  background:#00838d;border-radius:1px; padding:2px;color:white
}


.menu{background-color: #DDE0DA;color:#535452;}
.serv{padding: 4rem 8rem;}
.section3{padding-left: 8rem;padding-bottom: 1rem}
.serv h6{font-size:clamp(16px, 8vw, 28px);}
.serv h2{font-size:clamp(28px, 8vw, 60px);font-weight: bolder;}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  border-bottom: 2px solid #00838d;
  padding-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}


.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;


  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

  .card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }
.collage{
  background: black;position: static;
}

.imgs{text-align: center; padding-bottom: 200px;margin:0;}
.img{width:270px;height:400px;object-fit: cover;}


@media only screen and (max-width: 800px) {
.landingpage{height: 80vh;}
.landright{
  text-align: center;
  background: url("/static/images/heroimg-min.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.centeredr{
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  padding: 0;
}
.headh2{font-size: 32px;}
.headh4{font-size: 20px}
.noned{display:none;}
.bookingbtn{padding:5% 5%; background: black;}
.landleft{
  display: none;
}


/* products */
.product{flex-direction: column;height: 80vh;}
.productright img{ width: 200px;
  height: auto;}
.productleft{flex:50%;color:white;padding: 2rem 1rem; text-align: center;}
.productleft h4{font-size: 16px;}
.productleft h6{font-size: 16px;}
/* menu */

/* service */
.serv{text-align: center;padding:4%;}
.serv h6{padding:0 1rem}

.img{width:100px;height:170px;object-fit: cover;}
.droppage{background: black;}
}


/* media query ends  */
